@use '../util/' as util;
h1, 
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

h1 {
    font-size: util.rem(24rem);
    margin-bottom: util.rem(3rem);
    @include util.breakpoint(large) {
        font-size: util.rem(28rem);
    }
}

a, a:active, a:visited {
    text-decoration: none;
}